body {
    background-image: url("https://cdn.britannica.com/80/150980-050-84B9202C/Giant-panda-cub-branch.jpg");
    background-size: cover;
}
.name_of_objects{
    color: aquamarine;
    font-size: 20px;
}